.bg-menu{
    background-color: #223550;
}
.navbar-nav li a{
    color: #FFF !important;
    border-bottom: 4px solid #223550 !important;
}
.navbar-nav li a:hover{
    color: #FFF;
    border-bottom: 4px solid #FFF !important;
}
.navbar-nav li{
    padding: 0px 10px;
}
.dropdown-menu{
    background-color: #223550 !important;
}
.dropdown-menu li a:hover{
    color: #FFF !important;
    background-color: #FFF !important;
}
/*---------------------------------------------*/
.btn-unipam{
    color: #FFF !important;
    background-color:#223550 !important;
    border: 2px solid #FFF !important;
}
.btn-unipam:hover{
    color: #223550 !important;
    background-color: #FFF !important;
    border: 2px solid #FFF !important;
}
/*----------------------------------------------*/

.img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:170px;
    max-height:70px;
    width: auto;
    height: auto;
    padding-left: 35px;
    padding-bottom: 10px;
}

.img-home{
    width: 100%;
    height: 100vh; /* Altura do contêiner */
    background-image: url('path/to/your/image.jpg');
    background-size: cover; /* Cobre todo o contêiner */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

.card-img{
    display: block;
    margin: auto; /* Centraliza horizontalmente */
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.bg-card{
    background-color: #223550 !important;
    color: #FFF !important;
}
.btn-card{
    color: #FFF !important;
    background-color: #223550 !important;
    border: 1px solid #FFF !important;
}
.btn-card:hover{
    color: #223550 !important;
    background-color: #FFF !important;
    border: 1px solid #223550 !important;
}
.espacamento{
    margin:  60px 0 !important;
}
.col -sm{
    margin-bottom: 5px !important;
}
.bg-card-not{
    background-color: #ffffff !important;
}
