.page-link {
  color: #223550;
  }
.quem-somos{
  margin: 40px;
  margin-top: 120px;
  text-align: justify;
  width: 50%;
}
.quem-somos h2{
  margin-bottom: 20px;
}
/*--------------  Formulário - (Login)  ----------*/
.formulario-cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    border: none;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    background-color: #223550;
    color: #FFFFFF;
  }
.formC input{
    margin-top: 10px;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    border: none;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    background-color: #223550;
    color: #FFFFFF;
  }


  .label{
    font-size: large;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  .input{
    border: 1px solid #eaeaea;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    flex-direction: column;
  }

  .botao-form{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: fit-content;
    padding: 10px 20px;
    background-color: white;  
    color: #223550;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .botao-form:hover {
    background-color: #223550;
    color: #FFF;
    border: 3px solid #FFF;
    border-radius: 5px;
  }
  
  .botao-form button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  .resultado{
    width: 25rem;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 20px;
    background-color: #223550;
    color: #FFFFFF;
    height: 100%;
    padding-top: 30px;
  }
  
  #cancelarBtn{
    background-color: #223550;
    color: #FFF;
  }

  #cancelarBtn:hover{
    background-color: #FFF;
    color: #223550;
    border: 3px solid #223550;
    border-radius: 5px;
  }


  /*---------------------------------------------*/

  #btn-login{
    margin-left: 10px;
  }

.recuo-texto{
    margin-left: 180px;
}

.bg-menu{
    background-color: #223550;
}

h4{
    margin-bottom: 20px;
}

.navbar-nav li a{
    color: #FFF !important;
    border-bottom: 4px solid #223550 !important;
}
.navbar-nav li a:hover{
    color: #FFF;
    border-bottom: 4px solid #FFF !important;
}
.navbar-nav li{
    padding: 0px 10px;
}
.navbar-toggler {
    border-color: #FFF;
    color: #FFF;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.dropdown-menu{
    background-color: #223550 !important;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: #ffffff !important; 
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
}

.dropdown-menu li a:hover{
    color: #223550 !important;
    background-color: #FFF !important;
}

/*---------------------------------------------*/
.btn-unipam{
    color: #FFF !important;
    background-color:#223550 !important;
    border: 2px solid #FFF !important;
}
.btn-unipam:hover{
    color: #223550 !important;
    background-color: #FFF !important;
    border: 2px solid #FFF !important;
}
/*----------------------------------------------*/
.img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:170px;
    max-height:70px;
    width: auto;
    height: auto;
    padding-left: 35px;
    padding-bottom: 10px;
}
/*---------------------CARROSSEL--------------------------*/
.carousel {
    position: relative;
    width: 100%;
    max-width: 1334px;
    margin: 10px;
    margin-right: auto; /* Garante que o contêiner fique à esquerda */
    margin-left: auto;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: calc(480 / 1080 * 100%);
  }
  
  .carousel-item,
  .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }  

/*----------------------------------------*/
.img-home{
    width: 100%;
    height: 100vh;
    background-image: url('img/sala-home.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}
.img-estampa{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-img{
    display: block;
    margin: auto; /* Centraliza horizontalmente */
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.bg-card{
    background-color: #223550 !important;
    color: #FFF !important;
}
.btn-card{
    color: #FFF !important;
    background-color: #223550 !important;
    border: 1px solid #FFF !important;
}
.btn-card:hover{
    color: #223550 !important;
    background-color: #FFF !important;
    border: 1px solid #223550 !important;
}
.espacamento{
    margin:  60px !important;
}

.col -sm{
    margin-bottom: 5px !important;
}
.col {
    max-width: 400px;
    max-height: 600px;
    width: auto;
    height: auto;
}
.bg-card-not{
    background-color: #ffffff !important;
}

.card-text{
    text-align: left;
    padding-left: 20px;
}

.card-icon{
    display: block;
    margin: left; /* Centraliza horizontalmente */
    margin-left: 20px;
    margin-bottom: 10px;
    max-width: 50px;
    max-height: 40px;
    width: auto;
    height: auto;
    
}

.valor{

    margin-bottom: 20px;
    margin-right: 100px;
    padding-right: 20px;
    text-align: right;
}

#valor{
    margin-bottom: 2px;
}

.barra {
    width: 500px; 
    height: 100px; 
    margin: 10px;
    background-color: #eaeaea;
    border: 2px solid #eaeaea;
    border-radius: 5px;
}

.barra-casa {
    text-align: left;
 
    padding-top: 18px;
    padding-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
}

div.barra-card {
    text-align: left;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #eaeaea;
    border: 2px solid #eaeaea;
    border-radius: 5px;
}

.text-espaco{
    text-align: center;
    padding-top: 10px;
    margin-right: 10px;
}

.espaco{
    margin-right: 50px;
}

.align {
    width: 100%;
}
  
.align-p{
    float: left;
    margin-right: 20px; 
}

.card{
    border: 2px solid #000;
    margin: solid #000 1px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card-body{
    flex-grow: 1;
}
.textoC{
    background-color: #d1b19c;
    width: 100%;
    padding: 10px;
}
.btn{
    background-color: #223550;
}
.custom-section {
    padding: 60px 0;
    align-items: center;
}
.textoD{
    padding: 10px;
    font-weight: 500;
}
.titulo{
    margin-top: 50px;
}

.fi{
    color: #223550;
    margin: 6px;
}

.fi-sr-bed{
    size: 100rem;
}


/*-------------- FOOTER -----------*/
footer {
    background-color: #223550;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }
  
  .footer-column h3 {
    margin-top: 0;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-column ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-column p {
    margin: 0 0 10px;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-column {
      max-width: 400px;
      width: 100%;
      text-align: center;
    }
  }
  /*---------------------------------*/

#direitos{
    text-align: center;
}
.centro{
    text-align: center;
    color: black;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 20rem;
    margin-left: 15%;

    --bs-bg-opacity: 1;
    background-color: white !important;
    border-radius: 20px;
    padding: 10px;
}

.col-sm-3{
    padding-bottom: 10px;
    content: center;
}

.form-select{
    width: 80%;
    display: flex;
}